// Site Colors
$gray: #CFCFCF;

$gray-hover: #e0e0e0;

$gray-muted: rgba(113, 113, 122, 1);

$white: #FFFFFF;

$border-gray: rgb(161, 161, 170);

$border-gray-dark: rgb(138, 138, 138);

$dot-gray: rgb(68, 68, 68);

$green: rgb(120, 194, 87);
$green-hover: #90d96e;
// $green: #A0CE99;
// $green-hover: #bce5b6;

$black-hover: rgb(75, 75, 75);


$orange: #EF9184;
$orange-hover: #feb1a7;
